In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
tw = pd.read_csv('twitterdata.csv')

In [3]:
tw.head()

,id,status,gender,email,age,messages,likes,retweets,name,twitter post
0,f31d9ee9-9c41-4446-abd5-0094d65f5f92,offline,male,int@puband.jp,74,4322,1646,1824,Sult Few,Nomenclature differentiating by Claes Oldenbur...
1,ffee8acb-f9ff-48dc-9532-c6dc47cfeee8,anonymous,male,isidue429@Islati.ru,17,822,4245,2407,Bies Th,"Ada Yonath, critical in forensic investigation..."
2,46fc9083-7442-4887-86ac-5d4f78f1f8b1,anonymous,female,therna@cing.us,69,4010,4038,1109,An Of,"Snow fell St. Jean-Baptiste Day ceremony, and ..."
3,771685d0-ba4a-4c3b-abd0-2817ab6f1081,online,female,edrom@upopor.biz,30,976,2838,4903,Sed Beenum,"1883. It nations, thereby avoiding armed confl..."
4,259ccb80-f4db-4d1a-916a-7979d69a3cbd,offline,male,the.Belsou@peoper.ingic.com,66,1410,932,4161,199 Chand,"Of its bodies, a form of government. Senators ..."

In [12]:
tw.shape

(50000, 10)

In [13]:
tw.describe()

                age      messages         likes     retweets
count  50000.000000  50000.000000  50000.000000  50000.00000
mean      44.280000   2487.273260   2492.623440   2497.24998
std       20.190165   1436.927739   1441.685768   1446.25142
min       10.000000      0.000000      0.000000      0.00000
25%       27.000000   1256.000000   1240.000000   1238.00000
50%       44.000000   2471.500000   2484.000000   2503.00000
75%       62.000000   3729.000000   3734.000000   3749.00000
max       79.000000   4999.000000   4999.000000   4999.00000

In [15]:
#Number of unique users
tw.id.nunique()

50000

In [18]:
tw.status.value_counts()

online       16873
anonymous    16618
offline      16509
Name: status, dtype: int64

In [19]:
tw.gender.value_counts()

female    25002
male      24998
Name: gender, dtype: int64

In [20]:
tw.age.nunique()

70

In [23]:
tw.name.nunique()

46010

In [33]:
tw['twitter post'].nunique()

50000